In [36]:
import pandas as pd 
import nltk
import re
#Try also with encoding='ISO-8859-1' 
df = pd.read_csv("training.1600000.processed.noemoticon.csv", encoding='latin')

In [37]:
df.columns = ['pola', 'id', 'date', 'query', 'user', 'text']

In [38]:
# Remove URLs from tweets
df['clean_tweet'] = df['text'].apply(lambda x: re.sub(r'http\S+', '', x))

# Remove user mentions (@)
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: re.sub(r'@[A-Za-z0-9_]+', '', x))

# Remove numbers and special characters
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: re.sub('[^a-zA-Z\s]', '', x))

# Convert to lowercase
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: x.lower())

# Tokenize tweets
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: nltk.word_tokenize(x))

In [39]:
print(df['clean_tweet'].iloc[0])

['is', 'upset', 'that', 'he', 'cant', 'update', 'his', 'facebook', 'by', 'texting', 'it', 'and', 'might', 'cry', 'as', 'a', 'result', 'school', 'today', 'also', 'blah']

In [40]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()

In [41]:
# Remove stop words and lemmatize tokens
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet: [lemmatizer.lemmatize(word) for word in tweet if word not in stop_words])

# Join tokens back into a single string
df['clean_tweet'] = df['clean_tweet'].apply(lambda tweet: ' '.join(tweet))

In [47]:
print(df['clean_tweet'].head())

0    upset cant update facebook texting might cry r...
1      dived many time ball managed save rest go bound
2                      whole body feel itchy like fire
3                             behaving im mad cant see
4                                           whole crew
Name: clean_tweet, dtype: object

In [43]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 7 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   pola         1599999 non-null  int64
 1   id           1599999 non-null  int64
 2   date         1599999 non-null  object
 3   query        1599999 non-null  object
 4   user         1599999 non-null  object
 5   text         1599999 non-null  object
 6   clean_tweet  1599999 non-null  object
dtypes: int64(2), object(5)
memory usage: 85.4+ MB
None

In [44]:
print(df.columns)

Index(['pola', 'id', 'date', 'query', 'user', 'text', 'clean_tweet'], dtype='object')

In [48]:
# Drop unnecessary columns
df = df.drop(['id', 'date', 'query', 'user', 'text'], axis=1)

In [49]:

# Save cleaned dataset to a new CSV file
df.to_csv('preprocessed_tweets.csv', index=False)